
/*
=============
 Root Variables
 =============
 */
:root{
  --primaryBlue: #007DFE;
  --primaryWhite: #ffffff;
  --primaryOrange: #FF735C;
  --secondaryOrange: #bc8f47;
  --primaryBlack: #0f0f0f;
  --primaryGreen: #5C643A;
  --primaryDarkGrey: #515457;
  --sectionMaxWidth: 1080px;
  --wideSectionMaxWidth: 1180px;
  --transition: all 0.3s linear;
}

/*
=============
 Default settings
 =============
 */
 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.6;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-family: serif;
  font-size: 3.5rem;
  font-weight: 600;
}
h2{
  font-family: sans-serif;
  font-size: 2.5rem;
  margin-bottom: 25px;
}
h3{
  font-family: sans-serif;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
h4{
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-weight: normal;
}
p{
  font-family: sans-serif;
  font-size: 1.25rem;
  margin-bottom: 15px;
  font-weight: normal;
  color: var(--primaryDarkGrey);
}
@media screen and (max-width:400px) {
  h1{font-size: 3.25rem;}
  h2{font-size: 2.25rem;}
  h3{font-size: 1.25rem;}
  p{font-size: 1rem;}
}

a{
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.dot{
  list-style-type: disc;
  margin-left: 1em;
  text-align: left;
}
ol{
  margin-left: 1em;
  text-align: left;
}
.small-width{
  max-width: var(--sectionMaxWidth);
}
/*
=============
 Generic Spacing
 =============
 */
 .btm0px{
  margin-bottom: 0px;
 }
/*
=============
 Generic Section css
 =============
 */
.section{
  width: 100%;
  height: auto;
  overflow: auto;
  position: relative;
}
.section-center{
  margin: 50px auto;
  margin-bottom: 25px;
  align-items: center;
  max-width: var(--sectionMaxWidth);
}
.section-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section-center-wide{
  margin: 25px auto;
  margin-bottom: 0px;
  align-items: center;
  max-width: var(--wideSectionMaxWidth);
}
.top-0{
  margin-top: 0px;
}
.top-4{
  margin-top: 4rem;
}
/*
=============
 Underlines and buttons
 =============
 */
.underline-1{
  background-color: var(--primaryBlue);
  width: 100px;
  height: 2.5px;
}
.underline-2{
  background-color: var(--primaryBlue);
  width: 75px;
  height: 2px;
}
.btn{
  text-transform: uppercase;
  display: inline-block;
  padding: 0.45rem 0.8rem;
  cursor: pointer;
  font-size: 1.5rem;
  background-color: var(--primaryOrange);
  color: var(--primaryBlack);
}
@media screen and (max-width:400px) {
  .btn{
    font-size: 1.25rem;
  }
}
.btn:hover{
  background-color: var(--primaryBlack);
  color: var(--primaryOrange);
}
.submit{
  height: 2.4rem;;
  line-height: 1.5rem;
}
/*
=============
 Navbar Component 
 =============
 */
.nav{
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  overflow: hidden;
  z-index: 9999;
  background-color: var(--primaryWhite);
}
.nav-center{
  /* margin-left: 5vw;
  width: 100%; */
  width: 95vw;
  margin: 0px auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav .logo{
  display: none;
}
.nav-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
@media screen and (min-width:694px) {
  .nav .logo{
    height: 100%;
    width: 30vw;
    display: flex;
    align-items: center;
  }
  .nav .logo img{
    width: 100%;
    max-height: 3rem;
    margin: auto;
  }
  .nav-links{
    width: auto;
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.nav-links li{
  text-decoration: none;
  display: inline-block;
  height: 100%;
  text-align: center;
  line-height: 3rem;
}

.nav-links a{
  padding: 0.5rem calc(0.5rem + 5px);
  /* margin-left: 5px;
  margin-right: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--primaryBlack);
  height: 100%;
}
@media screen and (max-width:400px) {
  .nav-links a{
    font-size: 1.25rem;
  }
}
.nav-links a:hover{
  color: var(--primaryOrange);
}
.callToAction{
  background-color: var(--primaryOrange);
  line-height: 1.5rem;
}
.callToAction:hover{
  background-color: var(--primaryBlack);
}
/*
=============
 Footer 
 =============
 */
.footer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1rem;
}
.footer p{
  font-size: 1rem;
}
@media screen and (min-width:780px) {
  .footer{
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
}
/*
=============
 Hero Component (Background Img) 
 =============
 */
.hero-0{
  background: url('./images/hero1.jpg');
}
.hero-1{
  background: url('./images/hero2.jpeg');
}
.hero-2{
  background: url('./images/hero3.jpg');
}
.hero{
  /* background: url('./images/defaultBcg.jpeg'); */
  /* background: url('./images/hero1.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 75vw;
  display: grid;
  grid-template-columns: 1fr;
  max-height: 650px;
  background-position: center;
}
/* .hero-about{
  height: 40vw;
}
.hero-coaching{
  height: 43vw;
} */
.hero-center {
  align-self: center;
  justify-self: center;
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  gap: 5px;
  height: 100%;
  width: 100%;
  padding: 0px 5%;
}
.hero-left{
  justify-self: center;
  justify-content: flex-start;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  /* background-color: rgba(0, 0, 0, 0.8); */
  /* color: white; */
  gap: 5px;
  height: 100%;
  width: 100%;
  padding: 0px 25px;
  padding-top: 5vw;
}
.sub-hero-dark{
  background-color: rgba(0, 0, 0, 0.8);;
  color: white;
}
.hero-blur{
  background-image: linear-gradient(rgba(0,0,0,0),rgba(255,255,255,1));
  position: absolute;
  bottom: 0;
  z-index: 9998;
  height: 25px;
  width: 100%;
}
.hero-text-wide{
  display: none;
}
.hero-text-narrow{
  display: flex;
}
@media screen and (min-width:694px) {
  .hero-text-narrow{
    display: none;
  }
  .hero-text-wide{
    display: flex;
  }
}
/*
=============
 Info Component 
 =============
 */
.info-body{
  text-align: justify;
}
/*
=============
 Services Component 
 =============
 */
.services-center{
  width: 95%;
  /* max-width: var(--sectionMaxWidth); */
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.services-body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 25px;
  grid-template-areas: 
  "a b c"
  "d e f";
}
.services-body :nth-child(1){
  grid-area: a;
}
.services-body :nth-child(2){
  grid-area: b;
}
.services-body :nth-child(3){
  grid-area: c;
}
.services-body :nth-child(4){
  grid-area: d;
}
.services-body :nth-child(5){
  grid-area: e;
}
.services-body :nth-child(6){
  grid-area: f;
}
.service{
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}
.service button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.service button:hover{
  color: var(--primaryOrange);
}
.service button:hover .service-icon{
  color: var(--primaryOrange);
}
.service-icon{
  color: var(--primaryDarkGrey);
  font-size: 3rem;
}
.active-service{
  color: var(--primaryOrange);
}
.active-service .service-icon{
  color: var(--primaryOrange);
}
.service-description{
  width: 100%;
  text-align: center;
}

@media screen and (min-width:780px) {
  .services-body{
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "a b c d e f";
  }
}
.service-panel{
  display: flex;
  align-items: center;
  gap: 15px;
}
.prev-btn,
.next-btn {
  color: var(--primaryOrange);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}
.prev-btn:hover,
.next-btn:hover {
  color: var(--clr-primary-5);
}

/*
=============
 Coaching page
 =============
*/
.coaching-body{
  width: 100%;
  /* max-width: var(--sectionMaxWidth); */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.coaching-block{
  width: 100%;
  padding: 0px auto;
  position: relative;
  /* max-width: var(--wideSectionMaxWidth); */
  /* margin: 0px auto; */
}
.coaching-center{
  display: flex;
  flex-direction: column;
  padding: 12.5px 0px;
  align-items: center;
}
@media screen and (min-width:780px) {
  .coaching-center{
    flex-direction: row;
  }
  .flex-row-rev{
    flex-direction: row-reverse;
  }
}
.container-40{
  flex: 4;
}
.container-60{
  flex: 6;
  padding: 0px 25px;
}
.container-100{
  flex: 10;
  padding: 0px 25px;
}
.coaching-img-container{
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
}
.coaching-img-container img {
  width: 100%;
  object-fit: cover;
  display: block;
}
.details-text ul{
  margin-left: 25px;
  font-size: 1.25rem;
}
.details-text ol{
  margin-left: 25px;
  font-size: 1.25rem;
}
.blur-green-white{
  /* background-image: linear-gradient(var(--secondaryGreen),white); */
  background-image: linear-gradient(rgba(57,86,6,1),rgba(77,103,31,1),rgba(107,129,69,1),rgba(146,163,119,1),rgba(196,204,180,1),rgba(255,255,255,1));
  position: absolute;
  bottom: 0;
  z-index: 9998;
  height: 12.5px;
  width: 100%;
}
.blur-green-brown{
  /* background-image: linear-gradient(var(--secondaryGreen),var(--primaryMagenta)); */
  /*0, 10, 25, 45, 70, 100(midpoint color), 70, 45, 25, 10, 0*/
  background-image: linear-gradient(rgb(57,86,6),rgb(59,84,8),rgb(61,82,11),rgb(64,79,14),rgb(68,74,19),rgb(72,69,24),rgb(77,64,29),rgb(81,60,34),rgb(83,56,37),rgb(86,54,40),rgb(87,52,42));
  position: absolute;
  bottom: 0;
  z-index: 9998;
  height: 25px;
  width: 100%;
  transform: translateY(12.5px);
}

/*
=============
 About
 =============
 */
.team-pic-div{
padding: 0px 25px;
max-height: 600px;
}

/*
=============
 Contact
 =============
 */
 @media screen and (min-width:576px) {
  .signup-center{
    margin-left: 20%;
   }
}

/*
=============
 Generic Colors
 =============
 */
 .orange{
  color: var(--primaryOrange);
 }
 .dark-grey{
  color: var(--primaryDarkGrey);
}
.navy{
  color: var(--primaryDarkBlue);
}
.white{
  color: var(--primaryWhite);
}
.blue{
  color: var(--primaryBlue);
}
.bkgd-white{
  /* background-color: var(--primaryWhite); */
  background-color: #ffffff;
}
.bkgd-green{
  background-color: var(--secondaryGreen);
}
.bkgd-brown{
  background-color: var(--primaryMagenta);
}